@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active-sidebar-menu {
  background: #001c4e1f;
  color: #001c4e;
}

.status-button {
  padding: 0.6em 1.5em;
  border-radius: 9999px;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.status-pending {
  background-color: orange;
}

.status-paid {
  background-color: green;
}

.status-hardback {
  background-color: #778899;
}

.status-traditional {
  background-color: #662c91;
}

.status-paying {
  background-color: #29abe1;
}
